* {
    margin: 0;
    padding: 0;
}

:root {
    --fundo-dark: #0E1014;
    --roxo-destaque: #9747FF;
    --off-white: #FFFFFF;
    --fonte-titulo: "Unbounded", sans-serif;
    --fonte-primaria: "Poppins", sans-serif;
}

body {
    background-color: var(--fundo-dark);
}

.cabecalho {
    padding: 2em 20em;
}

.cabecalho__logo {
    width: 200px;
}

.secao {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.titulo {
    color: var(--off-white);
    font-family: var(--fonte-titulo);
    font-size: 5em;
}

.fique-de-olho {
    color: var(--roxo-destaque);
}

.paragrafo{
    color: var(--off-white);
    font-family: var(--fonte-primaria);
    font-size: 1.5em;
    width: 792px;
}

.botao {
    text-decoration: none;
    font-family: var(--fonte-primaria);
    font-size: 1.5em;
    color: var(--off-white);
    font-weight: 600;
    background-color: var(--roxo-destaque);
    padding: 0.5em 2em;
    border-radius: 2.25em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botao:hover {
    background-color: #5610b2;
    transform: scale(1.1);
}

.imagem-celulares {
    width: 792px;
}

@media(max-width: 768px) {

.cabecalho {
    padding: 2em 5em;
}

.paragrafo {
    width: 648px;
}

}

@media(max-width: 430px) {

.secao {
    gap: 20px;
}

.cabecalho__logo {
    width: 150px;
}

.titulo {
    font-size: 2.0em;
}

.paragrafo {
    font-size: 1em;
    width: 340px;
}

.botao {
    font-size: 1em;
}

.imagem-celulares {
    width: 400px;
}

}